<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Pract Task</title>
   <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">
            <a class="text-blue-500 p-10" href="/read">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Create User</h1>
        <form action="/create" method="post">
            <input class="px-5 py-2 border-2 border-zinc-800 rounded-md bg-transparent" name="name" type="text" placeholder="name">
            <input class="px-5 py-2 border-2 border-zinc-800 rounded-md bg-transparent" name="email" type="email" placeholder="Email">
            <input class="px-5 py-2 border-2 border-zinc-800 rounded-md bg-transparent" name="imageurl" type="text" placeholder="Image url">
            <input class="px-5 py-2 bg-blue-400 rounded-md " type="submit" value="Create User">
        </form>
    </div>
</body>
</html>