<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="main-full min-h-screen bg-zinc-900 text-white p-10">
        <a class="text-blue-500 inline-block mb-10" href="/">Go Back to Home</a>
        <form action="/edit" method="post">
            <input class="block px-5 py-2 text-zinc-600 bg-zinc-800 w-1/4 rounded-md" type="text"
                placeholder="Previous name" name="previous" value=" <%= filename %>">
            <input class="block px-5 py-2 bg-zinc-800 mt-2 w-1/4 rounded-md" type="text" placeholder="New name"
                name="new">
            <input class="mt-2 bg-yellow-600 px-5 py-2" type="submit" value="Update Name">
        </form>
    </div>
</body>

</html>